
span.welcome{
    background-color:black;
    color:white;
    padding:10px;
}
.navbar-brand{
    background-color: pink;}
.brandimg{
    width: 30px;
    height: 30px;
    margin-right: 1em;
}
.gridContainer{
    display: grid;
    grid-template-columns: auto 1fr;
   
}
.optContainer{
    padding-left: 4em !important;
}
#in1,#in2,#in3,#in4,#in5{
    width: 30em;
}
.container{
    margin-left: 1em;
}
.submit{
    color: white; 
    border: black 1px; 
    padding: 5px; 
    border-radius: 2px;
}
iframe{
  width:20em;
}
select,input{
    height: 2.5em;
}
p{
    vertical-align: middle;
}

